@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 244, 249, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

*:focus-visible {
  outline: 2px solid #39375b;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  *:focus-visible {
    outline: 2px solid #a8b0b9;
  }
}
