@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-gray-300 dark:border-gray-700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
  .callout-none {
    -webkit-touch-callout: none;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a,
button,
label {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

*:focus-visible {
  outline: 2px solid #39375b;
}

@media (prefers-color-scheme: dark) {
  *:focus-visible {
    outline: 2px solid #a8b0b9;
  }
}
